<!DOCTYPE html>
<html>
  <head>
    <title>ReFormer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if @user.errors.any? %>
  		<h2><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:</h2>
  		<ul>
	  		<% @user.errors.full_messages.each do |message| %>
	  			<li><%= message %></li>
	  		<% end %>
  		</ul>
  	<% end %>
    <%= yield %>
  </body>
</html>
